.h2-title {
  margin-bottom: 50px;
  font-family: var(--hero-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--h-and-li-cl);
}
